<div class="account-component-root">
    <div style="display: flex; justify-content: center;">
        <mat-spinner *ngIf="isDataLoaded$ && !isDataLoaded$.closed"></mat-spinner>
    </div>
    <div *ngIf="isDataLoaded$ && isDataLoaded$.closed">
        <mat-grid-list cols="4" style="padding:10px" rowHeight="330px">
            <mat-grid-tile colspan="2" rowspan="1">
                <div style="display: flex; flex-direction: column;">
                    <div class="mat-elevation-z8">
                        <mat-card>
                            <mat-card-content>
                                <mat-list>
                                    <mat-list-item> <b>Cuenta de {{account.userId}}</b> </mat-list-item>
                                    <mat-list-item> <b>Id de la cuenta:</b> {{account.id}} </mat-list-item>
                                    <mat-list-item> <b>Balance actual:</b> {{account.balance}}€ </mat-list-item>
                                    <mat-list-item> <b>Cantidad de pagos realizados:</b>
                                        {{account.paymentsIds.length}} </mat-list-item>
                                </mat-list>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <button mat-raised-button color="accent" routerLink="/payment"
                        style="width: 100%; margin-top: 20px; display: flex; justify-content: center;">
                        Hacer un pago
                    </button>
                </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="2" rowspan="2">
                <div class="mat-elevation-z8 payments">
                    <mat-card class="payments-card">
                        <mat-card-content [style.overflow]="'auto'" [style.height.px]="'95%'">
                            <div *ngIf="account.paymentsIds.length == 0" class="noPaymentDone">No se han realizado
                                pagos
                                todavía
                            </div>
                            <div *ngIf="account.paymentsIds.length > 0">
                                <mat-list *ngFor="let payment of paymentsList">
                                    <div class="mat-elevation-z8">
                                        <mat-card class="card">
                                            <mat-list>
                                                <mat-list-item>
                                                    <b>Cuenta desde la que se realizó el pago:</b>
                                                    {{payment.accountFromId}}
                                                </mat-list-item>
                                                <mat-list-item>
                                                    <b>Cuenta a la que se realizó el pago:</b>
                                                    {{payment.accountToId}}
                                                </mat-list-item>
                                                <mat-list-item>
                                                    <b>Cantidad:</b> {{payment.amount}}€
                                                </mat-list-item>
                                            </mat-list>
                                        </mat-card>
                                    </div>
                                </mat-list>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="2" rowspan="1">
                <div class="add-money mat-elevation-z8">
                    <form [formGroup]="addMoneyForm" (ngSubmit)="addMoney()">
                        <mat-card class="add-money-card">
                            <mat-card-content style="display: flex; margin: 5px;">
                                <mat-form-field>
                                    <mat-label> Introduzca cantidad </mat-label>
                                    <input matInput formControlName="money" type="number">
                                </mat-form-field>
                                <span style="flex: 1 1 auto;"></span>
                                <button mat-raised-button color="accent" [disabled]="addMoneyForm.invalid"> Añadir
                                    dinero </button>
                            </mat-card-content>
                        </mat-card>
                    </form>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>