<div class="auth-component-root">
  <div class="mat-elevation-z8">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()" novalidate>
      <mat-card>
        <mat-card-title>
          <nav mat-tab-nav-bar [tabPanel]="tabPanel">
            <a mat-tab-link [active]="true"routerLink="/login"> Iniciar Sesión </a>
            <a mat-tab-link routerLink="/signup"> Crear Cuenta </a>
          </nav>
          <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
          <mat-divider></mat-divider>
        </mat-card-title>
        <mat-card-content>
          <mat-form-field appearance="outline">
            <mat-label>Correo Electrónico</mat-label>
            <input formControlName="email" matInput>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input formControlName="password" matInput type="password">
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-fab extended>Iniciar Sesión</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>