/* You can add global styles to this file, and also import other style files */

@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

/* GLOBAL STYLES */

:root {
  --color-primary: #673AB7;
  --color-accent: #FFD740;
  --color-warn: #F44336;

  --color-title: white;
  --color-words: black;

  --color-sidebar: white;
}

* {
  font-family: Roboto;
  font-size: large;
}

body {
  margin: 0;
  scroll-behavior: smooth;
  padding-right: 0 !important;
}

#app-component-root {
  padding: 50px;
  margin-top: 25px;
  min-height: 1000px;
}

/* src/app/pages/signup/signup.component.css */
/* src/app/pages/login/login.component.css */

.auth-component-root {
  padding: 150px;
  display: flex;
  justify-content: center;
}

.auth-component-root mat-card {
  padding: 5px;
}

.auth-component-root mat-form-field {
  width: 300px;
}

.auth-component-root mat-card-content {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.auth-component-root mat-card-actions {
  margin-top: -25px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

/* src/app/shared/navbar/navbar.component.css */

.navbar-component-root mat-toolbar {
  background-color: var(--color-primary);
}

.navbar-component-root .title {
  color: var(--color-title) !important;
}

.navbar-component-root .topnav-button {
  margin-left: 10px;
  color: var(--color-words);
}

.navbar-component-root .flexExpand {
  flex: 1 1 auto;
}

/* src/app/shared/sidebar/sidebar.component.css */

.sidebar-component-root {
  width: auto;
}

.sidebar-component-root .container {
  padding-top: 30px;
  background-color: var(--color-primary);
}

.sidebar-component-root .sidenav-div {
  display: flex;
  flex-direction: column;
}

.sidebar-component-root button {
  min-width: 125px;
  min-height: 50px;
  padding-left: 15px !important;
  padding-right: 15px !important;
  display: flex;
  justify-content: left;
  color: var(--color-title) !important;
}

.sidebar-component-root .mat-grid-list {
  width: 1000px;
}

/* src/app/pages/account/account.component.css */

.account-component-root {
  margin-top: 50px;
}

.account-component-root .mat-grid-list {
  width: 100%;
}

.account-component-root .payments {
  width: 100%;
  height: 100%;
  margin-right: 150px;
}

.account-component-root .payments .noPaymentDone {
  width: auto;
  display: flex;
  justify-content: center;
}

/* src/app/pages/payment/payment.component.css */

.payment-component-root form {
  padding: 20px !important;
}

.payment-component-root button {
  margin-left: 5px;
}

.payment-component-root .finishedPayment {
  pointer-events: none !important;
}

/* src/app/pages/my-profile/my-profile.component.css */

.my-profile-component-root {}

/* src/app/shared/info-dialog/info-dialog.component.css */

.info-dialog-component-root {
  min-width: 350px;
  min-height: 200px;
  padding: 10px;
}

.info-dialog-component-root mat-dialog-actions {
  display: flex;
  justify-content: right;
}